.bg-wrapper {
	width: 100%;
}

.bg-wrapper:nth-child(1),
.bg-wrapper:nth-child(6) {
	background: url("../images/noise.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.bg-wrapper:nth-child(2),
.bg-wrapper:nth-child(4) {
	background: var(--color-light-xl);
}

.bg-wrapper:nth-child(3),
.bg-wrapper:nth-child(5) {
	background: var(--color-light-l);
}

.bg-wrapper:nth-child(1) {
	position: relative;
	overflow: hidden;
}