.help__title {
	max-width: 310px;
	color: var(--color-dark-l);
	text-align: center;
	margin: 0 auto;
	margin-bottom: 60px;
}

.help__items {
	display: flex;
	flex-wrap: wrap;
	gap: 55px 120px;
	justify-content: center;
}

.help__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

@media (max-width: 1111px) {
	.help__items {
		max-width: 630px;
		margin: 0 auto;
		gap: 55px 60px;
		justify-content: space-between;
	}

	.help__item {
		width: 170px;
	}
}

@media (max-width: 767px) {
	.help {
		display: flex;
		flex-direction: column;
		gap: 42px;
		align-items: center;
	}

	.help__title {
		margin-bottom: 0;
	}

	.help__item {
		width: 130px;
		gap: 20px;
	}

	.help__items {
		gap: 30px;
	}

	.help__item_text {
		font-size: 15px;
		line-height: 110%;
	}

	.help__item_image {
		max-width: 50px;
	}
}