.not-only {
	padding: 62px 40px 0;
	display: flex;
	justify-content: space-between;
}

.non__content {
	display: flex;
	flex-direction: column;
	gap: 42px;
	margin-top: 163px;
}

.non__title {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	color: var(--color-light-xl);
	max-width: 310px;
}

.non__text {
	max-width: 460px;
	color: var(--color-dark-s);
}

@media (max-width: 1279px) {
	.not-only {
		flex-direction: column;
		gap: 100px;
		align-items: center;
		--max-size: 40;
		--min-size: 30;
		padding-left: var(--clamp-func);
		padding-right: var(--clamp-func);
		--max-size-top: 62;
		--min-size-top: 32;
		padding-top: clamp(
    	calc(var(--min-size-top) * 1px),
    	calc(
      	(
      		var(--min-size-top)
        	+
        	(var(--max-size-top) - var(--min-size-top))
        	*
        	(
          	(100vw - (var(--min-width) * 1px))
          	/
          	((var(--max-width) - var(--min-width)) * 1px)
        	)
      	) * 1px
    	),
    	calc(var(--max-size-top) * 1px)
  	);
	}

	.non__content {
		margin-top: 0;
	}

	.non__image {
		align-self: flex-end;
		--max-size: 698;
		--min-size: 568;
		max-width: var(--clamp-func);
	}

	.non__btn {
		align-self: center;
	}
}

@media (max-width: 767px) {
	.not-only {
		--max-size: 30;
		--min-size: 10;
		--max-size-gap: 100;
		--min-size-gap: 105;
		gap: clamp(
    	calc(var(--min-size-gap) * 1px),
    	calc(
      	(
      		var(--min-size-gap)
        	+
        	(var(--max-size-gap) - var(--min-size-gap))
        	*
        	(
          	(100vw - (var(--min-width) * 1px))
          	/
          	((var(--max-width) - var(--min-width)) * 1px)
        	)
      	) * 1px
    	),
    	calc(var(--max-size-gap) * 1px)
  	);
	}

	.non__content {
		align-items: center;
	}

	.non__title,
	.non__text {
		text-align: center;
	}

	.non__image {
		--max-size: 568;
		--min-size: 260;
		max-width: var(--clamp-func);
	}

	.non__title {
		letter-spacing: 0.06em;
		--max-size: 44;
		--min-size: 25;
		font-size: var(--clamp-func);
	}
}