.pet-card {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	padding-bottom: 28px;
	border-radius: 9px;
	overflow: hidden;
	background: var(--color-light-s);
	box-shadow: none;
	transition: .3s;
}

.pet-card:hover {
	cursor: pointer;
	background: var(--color-light-xl);
	box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet-card:hover .btn-border {
	background: var(--color-primary-light);
	border: 2px solid var(--color-primary-light);
}

.pet-card_name {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--color-dark-l);
}