.bg-hider {
	position: absolute;
	inset: 0;
	display: none;
	z-index: 2;
}

.bg-hider__dark {
	background: rgba(41, 41, 41, 0.6);
}

.bg-hider__light {
	background: rgba(41, 41, 41, 0.6);
}

.body:has(.burger_checkbox:checked) .bg-hider, 
.body:has(.popup-show) .bg-hider {
	display: block;
}

.body:has(.burger_checkbox:checked),
.body:has(.popup-show) {
	overflow: hidden;
}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--color-light-s);
	border-radius: 9px;
	z-index: 3;
	box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
	padding-right: 20px;
	gap: 29px;
	min-width: max-content;
	min-height: max-content;
}

.popup-show {
	display: flex;
}

.popup__image {
	width: 500px;
	border-radius: 9px;
	align-self: center;
}

.popup__content {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.popup__content__titles_name {
	margin-bottom: 10px;
	color: #000;
}

.popup__content__titles_type {
	color: #000;
}

.popup__content__description {
	max-width: 350px;
	color: #000;
}

.popup__content_list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.popup__content_list_item {
	position: relative;
	padding-left: 14px;
}

.popup__content_list_item::before {
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--color-primary);
}

.popup__item_name,
.popup__item_value {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #000;
}

.popup__item_name {
	font-weight: 700;
}

.popup__close_icon {
	position: absolute;
	right: -42px;
	top: -52px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	border: 2px solid var(--color-primary);
	background: url("../images/close-icon.png") center no-repeat;
	z-index: 5;
	transition: .3s ease;
}

.popup__close_icon:hover {
	cursor: pointer;
	border: 2px solid var(--color-primary-light);
	background: var(--color-primary-light) url("../images/close-icon.png") center no-repeat;
}

@media (max-width: 1279px) {
	.popup {
		--max-size-gap: 29;
		--min-size-gap: 11;
		gap: clamp(
    	calc(var(--min-size-gap) * 1px),
    	calc(
      	(
      		var(--min-size-gap)
        	+
        	(var(--max-size-gap) - var(--min-size-gap))
        	*
        	(
          	(100vw - (var(--min-width) * 1px))
          	/
          	((var(--max-width) - var(--min-width)) * 1px)
        	)
      	) * 1px
    	),
    	calc(var(--max-size-gap) * 1px)
  	);

		--max-size-padding-right: 20;
		--min-size-padding-right: 9;
		padding-right: clamp(
    	calc(var(--min-size-padding-right) * 1px),
    	calc(
      	(
      		var(--min-size-padding-right)
        	+
        	(var(--max-size-padding-right) - var(--min-size-padding-right))
        	*
        	(
          	(100vw - (var(--min-width) * 1px))
          	/
          	((var(--max-width) - var(--min-width)) * 1px)
        	)
      	) * 1px
    	),
    	calc(var(--max-size-padding-right) * 1px)
  	);
	}

	.popup__image {
		--max-size: 500;
		--min-size: 350;
		max-width: var(--clamp-func);
	}

	.popup__content {
		--max-size: 50;	
		--min-size: 10;
		margin-top: var(--clamp-func);

		--max-size-gapp: 40;
		--min-size-gapp: 20;
		gap: clamp(
    	calc(var(--min-size-gapp) * 1px),
    	calc(
      	(
      		var(--min-size-gapp)
        	+
        	(var(--max-size-gapp) - var(--min-size-gapp))
        	*
        	(
          	(100vw - (var(--min-width) * 1px))
          	/
          	((var(--max-width) - var(--min-width)) * 1px)
        	)
      	) * 1px
    	),
    	calc(var(--max-size-gapp) * 1px)
  	);
	}

	.popup__content__description {
		--max-size-max-width: 350;
		--min-size-max-width: 260;
		max-width: clamp(
    	calc(var(--min-size-max-width) * 1px),
    	calc(
      	(
      		var(--min-size-max-width)
        	+
        	(var(--max-size-max-width) - var(--min-size-max-width))
        	*
        	(
          	(100vw - (var(--min-width) * 1px))
          	/
          	((var(--max-width) - var(--min-width)) * 1px)
        	)
      	) * 1px
    	),
    	calc(var(--max-size-max-width) * 1px)
  	);
		font-size: 13px;
	}

	.popup__content_list {
		--max-size-gapp: 10;
		--min-size-gapp: 5;
		gap: clamp(
    	calc(var(--min-size-gapp) * 1px),
    	calc(
      	(
      		var(--min-size-gapp)
        	+
        	(var(--max-size-gapp) - var(--min-size-gapp))
        	*
        	(
          	(100vw - (var(--min-width) * 1px))
          	/
          	((var(--max-width) - var(--min-width)) * 1px)
        	)
      	) * 1px
    	),
    	calc(var(--max-size-gapp) * 1px)
  	);
	}
}

@media (max-width: 767px) {
	.popup__content__description {
		text-align: justify;
	}

	.popup__image {
		display: none;
	}

	.popup {
		padding: 10px;
	}

	.popup__content {
		margin-top: 0;
	}

	.popup__close_icon {
		right: -20px;
	}

	.popup__content__titles_name,
	.popup__content__titles_type {
		text-align: center;
	}
}